<div class="container" #parent>
  <span (click)="removeParent()">x</span>
  <p #refChild>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, ducimus iusto. Pariatur unde quas reiciendis. Odit
    debitis veniam aliquid vel dolor ut, placeat quos nulla itaque maxime maiores amet necessitatibus saepe id ab
    veritatis, atque nisi sapiente iste fuga tempore, error illum voluptatum eligendi. Voluptatem cumque perferendis
    nobis cupiditate illum?
  </p>
</div>


<button (click)="onClick()">Remove child</button>